//pallete colors
$primary-color: #08d9d6;
$secondary-color: #ff2e63;
$dark-color: #11141b;
$dark-color-lighter: #2a3240;
$gray-color: #a9a9af;
$light-color: #eaeaea;
$white: #fff;
$redColor: rgb(244 67 54 / 100%);
$blueColor: rgb(33 150 243 / 100%);

$home-h1-gradient: linear-gradient(
  339deg,
  rgb(8 217 214 / 100%) 0%,
  rgb(255 250 251 / 100%) 53%,
  rgb(255 46 99 / 100%) 100%
);
