$custom-primary: (
  50: #e1fafa,
  100: #b5f4f3,
  200: #84eceb,
  300: #52e4e2,
  400: #2ddfdc,
  500: #08d9d6,
  600: #07d5d1,
  700: #06cfcc,
  800: #04cac6,
  900: #02c0bc,
  A100: #e9fffe,
  A200: #b6fffd,
  A400: #83fffc,
  A700: #69fffb,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #000,
    600: #000,
    700: #000,
    800: #000,
    900: #000,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000,
  ),
);
